* {
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Ubuntu Mono', monospace;
    ;
  }
  
  .navbar {
    background-color: rgb(233, 240, 236);
    height: 40px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  .top {
    margin-right: 30px;
    font-size: 18px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .zoo {
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
  
  }
  
  .Home {
    padding-left: 10%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(187, 223, 170);
  
  }
  
  
  .News {
    font-size: 60px;
  }
  
  .Name {
    font-weight: bold;
  
  }
  
  .button {
    width: 200px;
    height: 60px;
    margin-top: 35px;
    background-color: rgb(101, 180, 101);
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  .Funcionario {
    background-color: rgb(233, 240, 236);
    height: 30%;
    width: 100%;
    color: rgb(0, 0, 0)
  }
  
  .add {
    margin-right: 30px;
    font-size: 28px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  
  }
  
  .Container {
    color: #ffffff;
    height: 90vh;
    width: 50%;
    border: 8px solid black;
    background-color: transparent;
    border-radius: 5% 5%;
   
  
  
  }
  
  .Form {
    background:red;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Options {
    width: 50%;
    display: flex;
    justify-content: space-between;
  
  }
  
  .Nome {
    color: white;
    background-color: transparent;
    border: 2px solid;
    height: 4vh;
    width: 51%;
    font-size: 15px;
    display: flex;
   
  
  }
  
  .Price {
    border-radius: 8px;
    box-shadow: 1px 1px 12px 4px #0b4529;
    align-items: center;
    justify-content: center;
    background-color: #1a3e27;
    height: 10vh;
    width: 53%;
    display: flex;
    margin-top: 40px;
  }
  
  .Permission {
    display: flex;
    margin-top: 10px;
  }
  
  .Permission-area {
  
    list-style: none;
  }
  
  .Cor-area {
    height: 81vh;
    width: 90%;
  
  }
  
  .botao {
    color:white;
    border:2px solid #c3c3c3;
    margin-top: 40px;
    cursor: pointer;
    width: 54%;
    height:10vh;
    font-size: 25px;
    border-radius:14px;
    background-color: #1a3e27;

    
  }
  .botao:hover{  
    box-shadow: 1px 1px 12px 4px #0b4529;
  }
  
  
  .img-container {
    background: linear-gradient(rgba(140, 215, 144, 0.7),
        rgba(155, 208, 161, 0.8)), url("https://media.istockphoto.com/id/1339395986/photo/pink-coupon-with-coins-3d-rendering.jpg?s=612x612&w=0&k=20&c=O_Fgk9jnrG2x4Q2eXsBgfPUchSYqopJfs1OlWniIa1Q=");
  }


.Top {
  box-shadow: 1px 1px 12px 10px #07120d;
  align-items:center;
  flex-direction:column;
  display: flex;
  justify-content:center;
    border-radius: 15px 12px;
    width:100%;
    background-color :#0b4529;
}

.Elements{
    height: 81vh;
    width: 100%;
    flex-direction:column;
    display:flex;
    padding-left:20px;
}

.section {
  background: linear-gradient(rgba(0, 0, 0, 1.0),
  rgba(22, 25, 22, 0.9));
    width:100%;
    height: 81vh;
    display:flex;
    border-radius:18px;
}

.Input {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height : 12vh;
  margin-top : 40px;
}